@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Pixelify Sans", sans-serif;
  background-image: url('background.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body { 
  font-family: "Pixelify Sans", sans-serif;
  margin: 0;  
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  font-family: "Pixelify Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.divider {
  width: 2%;
  height: 100vh;
  background-repeat: repeat;
  overflow: hidden;
}

.divider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cookieContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  overflow: hidden;
}

.upgradeContainer {
  margin-top: 17%;
  font-family: "Pixelify Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 28%;
  height: 100vh;
  overflow: hidden;
  
}

.upgradeContainer button {
  font-family: "Pixelify Sans", sans-serif;
  border: black 3px solid;
  width: 90%;
  padding: 50px;
  font-size: 40px;
}

#upgradeBtn {
  text-align: center;
  padding: 50px;
  margin: 5px 0;
  cursor: pointer;
  width: 90%;
  background-color: #d6c20c;
}

#clickUpgradeBtn {
  text-align: center;
  padding: 50px;
  margin: 5px 0;
  cursor: pointer;
  width: 90%;
  background-color: #d6c20c;
}

#cheatBtn {
  color: red;
  border: none;
  padding: 50px;
  opacity: 0.3;
  width: 20%
  fit-content;
}

#cookie {
  display: block;
  width: auto;
  height: 350px;
  cursor: pointer;
  user-select: none;
  will-change: transform;
  transition: 0.2s;
}

#cookie:hover {
  transform: scale(1.1);
}

#cookie.animate {
  animation: cookie-pop 220ms cubic-bezier(.22,.9,.32,1);
}

.statsContainer { 
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;
  color: #fff; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 28%;
  height: 100vh;
  overflow: hidden;
  margin-top: 17%;
  
}

#cryst, #level, #tier {
  text-align: center;
  padding: 50px;
  margin: 5px 0;
  cursor: pointer;
  width: 90%;
  background-color: #d6c20c;
  border: black 3px solid;
  width: 90%;
  padding: 50px;
  font-size: 40px;
  color: black;

}



@keyframes cookie-pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}

